<div class="ekart--product--item">
  <div class="ekart-wishlist-sale-container">
    <div class="ekart--add--to--wishlist">
      <i class="fa fa-heart-o" aria-hidden="true"></i>
      <i> {{ 1 }} </i>
    </div>
    <div class="ekart-on-sale-tag" *ngIf="product.discountPrice">
      {{ (100 - (product.discountPrice / product.price) * 100).toFixed(0) }}%
      OFF
    </div>
  </div>
  <div class="ekart--product--image">
    <img [src]="product.imageURL" class="ekart--product--image" />
  </div>
  <div class="ekart--add--to--price">{{ product.price }}</div>
  <div class="ekart--product--name">{{ product.name }}</div>
  <div class="ekart--product--category">
    {{ product.gender }} . {{ product.category }} . {{ product.brand }}
  </div>
  <div class="ekart--product--available-colors">
    {{ product.color.length }} Colors . Best Seller
  </div>

  <div
    class="ekart-product-in-stock"
    [ngStyle]="{
      color: product.is_in_inventory ? 'green' : 'red',
      fontWeight: product.is_in_inventory ? '600' : '500'
    }"
  >
    {{ product.is_in_inventory ? "Available" : "Not Available" }}
  </div>
</div>
