<!-- <img [src]="product.pImage" width="50px" alt="book" />
<p>Name : {{ product.name }}</p>
<p>Price : ${{ product.price }}</p>
<p>Color : {{ product.color }}</p>
<p>Discount price : {{ discountedPrice().toFixed(0) }}</p>
<p>
  {{
    product.inStock > 0
      ? " Only " + product.inStock + " left"
      : "No products in bag"
  }}
</p>

<input type="text" value="{{ name }}" (input)="onNameC($event)" />
<br />
<p>{{ name }}</p>

<button bind.disabled="product.inStock <= 0">Buy</button>
<br />
<br />

<button (click)="decreamentCartValue()">-</button>
<span> {{ addToCart }} </span>
<button (click)="incremnetCartValue()">+</button> -->

<div class="ekart--product--container">
  <app-search
    (InputVal)="searchTextMethod($event)"
    (searchtextwo)="searchtextwoMethod($event)"
  ></app-search>

  <product-list
    [getSearchInlist]="parentSearch"
    [emptySearchVarstore]="emptySearchVar"
    #getThe
  ></product-list>

  <product-details *ngIf="getThe.SelectedProduct"></product-details>
</div>
